/*
Variables
*/

$main-color: #6e328b;

$font-responsive-size-10: 3.12vw;
$font-responsive-size-11: 3.43vw;
$font-responsive-size-12: 3.75vw;
$font-responsive-size-13: 4.06vw;
$font-responsive-size-14: 4.37vw;
$font-responsive-size-15: 4.68vw;
$font-responsive-size-16: 5.00vw;
$font-responsive-size-17: 5.31vw;
$font-responsive-size-18: 5.62vw;
$font-responsive-size-19: 5.93vw;
$font-responsive-size-20: 6.25vw;
